* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E9E9E9;
}

.firstnav {
  display: flex;
  height: 70px;
  width: 100%;
}
.firstnav .navbar-logo {
  display: flex;
  font-weight: 700;
  align-items: center;
  margin-left: 10px;
}
.firstnav .navbar-logo a {
  font-size: 25px;
  background-color: #007BFF;
  border-radius: 10px;
  padding: 5px 0px 5px 8px;
  color: #fff;
}
.firstnav .navbar-logo a span {
  border-radius: 10px;
  background-color: #fff;
  color: #007BFF;
  padding: 8px 10px 8px 0px;
  width: 100%;
  margin: 0;
}
.firstnav .navbar-logo a:hover {
  text-decoration: none;
}

.links {
  margin-left: auto;
  display: flex;
}
.links ul {
  display: flex;
  padding: 10px;
  margin: 5px 0;
  background-color: #007BFF;
}
.links ul li {
  list-style-type: none;
  margin-left: 10px;
}
.links ul li a {
  display: flex;
  font-size: 23px;
  color: #FFF !important;
  border-right: 1px solid gray;
  padding-right: 5px;
}
.links ul li a:hover {
  text-decoration: none;
}
.links .signup {
  display: flex;
  font-size: 23px;
  margin: 5px 50px 5px 50px;
  padding: 7px;
  background-color: orange;
  color: #FFF;
}
.links .signup:hover {
  text-decoration: none;
}

.signup::before {
  content: "";
  position: absolute;
  top: 0.8%;
  left: 72.2%;
  /* width: 50px; */
  /* height: 50px; */
  border-bottom: 30px solid orange;
  border-left: 30px solid #007bff;
  border-right: 30px solid orange;
  border-top: 30px solid #007bff;
  background-color: transparent;
}

.signup::after {
  content: "";
  position: absolute;
  top: 0.8%;
  left: 81.6%;
  /* width: 50px; */
  /* height: 50px; */
  border-bottom: 30px solid transparent;
  border-left: 30px solid orange;
  border-right: 30px solid transparent;
  border-top: 30px solid orange;
  background-color: transparent;
}

.links ul::before {
  content: "";
  position: absolute;
  top: 0.8%;
  left: 28.2%;
  /* width: 50px; */
  /* height: 50px; */
  border-bottom: 30px solid #007BFF;
  border-left: 30px solid transparent;
  border-right: 30px solid #007BFF;
  border-top: 30px solid transparent;
  background-color: transparent;
}

.social-links {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.social-links a {
  margin: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.social-links .facebooklink a {
  background-color: #4867AA;
  padding: 10px 15px 10px 15px;
  color: #FFF;
}
.social-links .youtubelink a {
  background-color: #FC0000;
  color: #FFF;
  padding: 10px 11px 10px 11px;
}
.social-links .twitterlink a {
  background-color: #50ABF1;
  color: #FFF;
  padding: 10px 11px 10px 11px;
}
.social-links .instagramlink a {
  background-color: #F14E46;
  color: #FFF;
  padding: 10px 13px 10px 13px;
}

.secondNav {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.secondNav .musobaqalar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 91%;
  background: white;
  color: #007BFF;
  position: relative;
}
.secondNav .musobaqalar::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  width: 25px;
  height: 100%;
  background-color: #E9E9E9;
  transform: skewX(-15deg);
}
.secondNav .musobaqalar::after {
  content: "";
  position: absolute;
  top: 0;
  right: -18px;
  width: 25px;
  height: 100%;
  background-color: #E9E9E9;
  transform: skewX(-15deg);
}
.secondNav .musobaqalar div {
  font-size: 20px;
  font-weight: 700;
  margin-right: 105px;
}
.secondNav .musobaqalar a {
  height: 100%;
  color: #007BFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.secondNav .musobaqalar a:hover {
  color: white;
  background-color: #007BFF;
}

.firstcolumn {
  margin: 10px;
  background-color: #fff;
  display: table-cell;
  width: 262px;
  max-width: 262px;
  min-width: 262px;
  padding-right: 12px;
  vertical-align: top;
}

.newslink {
  font-size: 30px;
  margin: 10px;
  text-transform: capitalize;
  padding-bottom: 10px;
}
.newslink h4 {
  border-bottom: 2px solid orange;
  max-width: 300px;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.newslink:hover {
  text-decoration: none;
}

.onefact {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.onefact p {
  color: orange;
  margin-right: 5;
}

.secondcolumn {
  margin-top: 10px;
  background-color: #fff;
  min-width: 370px;
  max-width: 480px;
  display: table-cell;
  width: auto;
  padding-right: 12px;
  vertical-align: top;
}

.generalnews h4 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 45px;
  width: 100%;
  border-bottom: 2px solid orange;
  padding-bottom: 5px;
}
.generalnews:hover {
  text-decoration: none;
}

.new1 {
  background-color: #fff;
  display: block;
  z-index: 12;
  padding-bottom: 15px;
}
.new1 a {
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
  color: black;
  transition: 0.4s ease;
  font-weight: 500;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.274), 0.336, rgba(0, 0, 0, 0.185));
}
.new1 p {
  color: #A9A9A9;
}

.new1 a:hover {
  color: #007BFF;
  text-decoration: none;
}

.newsheadimg:hover {
  opacity: 0.98;
}

.othernews {
  padding-top: 10px;
  padding-bottom: 10px;
}
.othernews a img {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.486));
}
.othernews a img:hover {
  opacity: 0.7;
}

.newstext p {
  font-size: 20px;
  font-weight: 400;
}
.newstext a {
  margin-top: 20px;
}

.europefutbol {
  color: #A9A9A9;
}

.europefutbol:hover {
  color: #A9A9A9;
}

.firstp {
  transition: 0.3s ease;
  font-weight: 600 !important;
}

.firstp:hover {
  color: #007BFF;
}

.newsdate {
  position: absolute;
  top: 93.3%;
  left: 43%;
  font-size: 15px !important;
  color: #A9A9A9;
}

.generalnews h4 {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 45px;
  width: 100%;
  border-bottom: 2px solid orange;
  padding-bottom: 5px;
}
.generalnews:hover {
  text-decoration: none;
}

.thirdcolumn {
  background-color: #fff;
  margin: 8px;
  width: 348px;
  max-width: 348px;
  min-width: 348px;
  display: table-cell;
  vertical-align: top;
}
.thirdcolumn a h4 {
  border-bottom: 2px solid orange;
}

.matches ul {
  justify-content: center;
  display: inline-block;
  border-bottom: 0;
  border-bottom: 1px solid #cacaca;
  margin: 10px auto;
  overflow: inherit;
  height: 25px;
}
.matches ul li {
  list-style-type: none;
  padding-right: 10px;
}
.matches ul li a {
  color: #000;
  font-weight: 500;
}

.fouthcolumn {
  width: 240px;
  min-width: 240px;
  max-width: 240px;
  display: table-cell;
  vertical-align: top;
}

/*# sourceMappingURL=news.css.map */
